{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="date">
        {{ .Date.Format "Jan 2, 2006" }}
        -
        {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </div>
    <div class="container">
        <article>
          {{ .Content }}
        </article>
    </div>
    {{ partial "disqus.html" . }}
  </main>

{{ partial "footer.html" . }}
