{{ partial "header.html" . }}

</div>
<!-- Main Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<main id="index" class="row landing" role="main">
    <article class="landingQuote" onclick="location.href='/post'">
        <p id="fade1" class="animated" style="opacity:0">Author of the New York Times bestsellers:</p>
        <h1 id="fade2" class="animated" style="opacity:0">“Beyond Ballmer Peak”</h1>
        <p id="fade3" class="animated" style="opacity:0">and</p>
        <h1 id="fade4" class="animated" style="opacity:0">“Haskell for Berghain Enthusiasts”</h1>
    <article>
</main>

<script src="../js/fittext.js"></script>
<script type="text/javascript">
    setTimeout(function() {
      document.getElementById('fade1').classList.add("fadeInDownBig");
    }, 1000);
    setTimeout(function() {
      document.getElementById('fade2').classList.add("fadeInDownBig");
    }, 1500);
    setTimeout(function() {
        document.getElementById('fade3').classList.add("fadeInDownBig");
    }, 2000);
    setTimeout(function() {
        document.getElementById('fade4').classList.add("fadeInDownBig");
    }, 2500);
    setTimeout(function() {
        location.href='/post';
    }, 6000);
</script>
<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <nav>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ template "_internal/pagination.html" . }}
</nav> -->


{{ partial "footer.html" . }}
